img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
  
}

p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

figure{

    margin: 44px;
    width: 300px;
    height: 380px;


}

figcaption{
   margin: 0;
    text-align: center;
}